@font-face {
                font-family: Rubik; font-style: normal; src: url('@/assets/fonts/Rubik-Regular_1.ttf'); font-weight: 400
            }
@font-face {
                font-family: Rubik; font-style: normal; src: url('@/assets/fonts/Rubik-SemiBold_1.ttf'); font-weight: 600
            }
@font-face {
                font-family: Rubik; font-style: normal; src: url('@/assets/fonts/Rubik-Medium_1.ttf'); font-weight: 500
            }
@font-face {
                font-family: Rubik; font-style: normal; src: url('@/assets/fonts/Rubik-Bold_1.ttf'); font-weight: 700
            }